{% extends "registration/registration_base.html" %}
{% load i18n crispy_forms_tags %}
{% block title %}
    {% trans "Change password" %}
{% endblock title %}
{% block content %}
    <section>
        <div class="container mx-auto shadow p-5 bg-white col-md-4">
            <form method="post" action="">
                <h2 class="color-b">Change Password</h2>
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit"
                       class="btn btn-success"
                       value="{% trans 'Change password' %}"/>
            </form>
        </div>
    </section>
{% endblock content %}
{# This is used by django.contrib.auth #}
