{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}
  {% trans "Account Activation Resent" %}
{% endblock title %}
{% block content %}
  <div class="alert alert-info fade show text-center" role="alert">
    {% trans "We have sent an email to {{ email }} with further instructions." %}.
  </div>
{% endblock content %}
{% comment %}
**registration/resend_activation_complete.html**
Used after form for resending account activation is submitted. By default has
the following context:

``email``
    The email address submitted in the resend activation form.
{% endcomment %}
